body {
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("Registration-Form/shadow-forest-background-image-oubn6wn5oi9cr8rt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  
  #formContainer {
    /* background-color: white; */
    border: 2px solid white;
    backdrop-filter: blur(2rem);
    padding: 50px;
    text-align: center;cd
    border-radius: 1rem;
    /* padding: 2rem; */
    padding: 1rem 3rem;
  }
  
  input {
    margin: 0.5rem;
    padding: 0.25rem;
    background: transparent;
    border: none;
    outline: none;
    padding: 0 20px 0 5px;
    height: 2rem;
    color: white;
    font-size: 16px;
    font-size: 1rem;
  }
  
  input::placeholder {
    color: white;
  }
  
  input[type="submit"] {
    width: 205px;
    background-color: blue;
    color: white;
  }
  
  p {
    text-align: left;
    margin: 0 62px;
    color: red;
    font-style: 1rem;
  }
  
  
  .generate{
    color: black;
    cursor: pointer;
    padding: 0;
  }
  
  .error{
    width: 244.2px;
  }
  
  form{
    width: 20rem;
  }
  